a.btn,span.btn,i.I,.numberBox,.numberBox a,.field label,.field label.checkbox span,span.fieldNote,.popNote,.fieldTip,.code i,form .hang,.imgMiddle i,.imgMiddle img,.slider .slider_nav a,.slider .iScrollLoneScrollbar i,.qrcode,.topbar a,.metas span,.popBox,.mainNav li,.subNav a,#footer .links a,#footer .links strong,#footer .friendLinks,#footer .friendLinks dt,#footer .friendLinks dd a,#footer aside .validLinks a,.pageNavi p i,.pageNavi p a,.pageNavi p strong,.pageNavi p small,.rate,.financingTypes li,.icon_biao,.entry code,span.msgValid,.iam404 i,.iam404 span,a.checkLink{
	display:inline-block;
	*display:inline;
	*zoom:1
}

.cf,.span-2,.main,.subHeader,.moudleNav ul,.simHeader .innerBox,#footer .siteInfos{
	*zoom:1
}

.cf:before,.span-2:before,.main:before,.subHeader:before,.moudleNav ul:before,.simHeader .innerBox:before,#footer .siteInfos:before,.cf:after,.span-2:after,.main:after,.subHeader:after,.moudleNav ul:after,.simHeader .innerBox:after,#footer .siteInfos:after{
	content:"";
	display:table
}

.cf:after,.span-2:after,.main:after,.subHeader:after,.moudleNav ul:after,.simHeader .innerBox:after,#footer .siteInfos:after{
	clear:both
}

article,aside,details,figcaption,figure,footer,hgroup,nav,section,summary{
	display:block
}

audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1
}

audio:not([controls]){
	display:none;
	height:0
}

[hidden],template{
	display:none
}

html{
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

html,button,input,select,textarea{
	font-family:sans-serif
}

body{
	margin:0
}

a{
	background:transparent
}

a:hover,a:active{
	outline:0
}

abbr[title]{
	border-bottom:1px dotted
}

b,strong{
	font-weight:bold
}

blockquote{
	margin:1em 40px
}

dfn{
	font-style:italic
}

mark{
	background:#ff0;
	color:#000
}

code,kbd,pre,samp{
	font-family:monospace, serif;
	_font-family:'courier new', monospace;
	font-size:1em
}

pre{
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}

q{
	quotes:"\201C" "\201D" "\2018" "\2019"
}

q{
	quotes:none
}

q:before,q:after{
	content:'';
	content:none
}

small{
	font-size:80%
}

sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}

sup{
	top:-0.5em
}

sub{
	bottom:-0.25em
}

dl,ol,ul{
	margin:1em 0
}

dd{
	margin:0 0 0 40px
}

ol,ul{
	padding:0 0 0 40px
}

nav ul,nav ol{
	list-style-image:none
}

img{
	border:0;
	-ms-interpolation-mode:bicubic
}

svg:not(:root){
	overflow:hidden
}

fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}

legend{
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px
}

button,input,select,textarea{
	font-family:inherit;
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}

button,input{
	line-height:normal
}

button,select{
	text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible
}

button[disabled],input[disabled]{
	cursor:default
}

input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px
}

input[type="search"]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
	height:auto
}

button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}

textarea{
	overflow:auto;
	vertical-align:top
}

optgroup{
	font-weight:bold
}

table{
	border-collapse:collapse;
	border-spacing:0
}

html{
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

body{
	font-size:14px;
	line-height:1.5;
	background-color:#fff
}

body,button,input,select,textarea{
	font-family:Arial,"Microsoft Yahei"
}

img{
	vertical-align:middle
}

textarea{
	resize:vertical
}

h1,h2,h3,h4,h5,h6,p,figure,form{
	margin:0
}

ul,ol,li,dl,dd{
	margin:0;
	padding:0
}

ul,ol{
	list-style:none outside none
}

h1,h2,h3{
	line-height:2;
	font-weight:normal
}

h1{
	font-size:21px
}

h2{
	font-size:18.2px
}

h3{
	font-size:16.38px
}

h4{
	font-size:14px
}

h5,h6{
	font-size:11.9px;
	text-transform:uppercase
}

a{
	text-decoration:none;
	color:#555
}

a:hover{
	color:#D62C2C
}

input:-moz-placeholder,textarea:-moz-placeholder{
	color:#999
}

input::-moz-placeholder,textarea::-moz-placeholder{
	color:#999
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder{
	color:#999
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color:#999
}

@font-face{
	font-family:icon;
	font-weight:normal;
	font-style:normal;
	src:url("../fonts/icomoon.eot?v=4");
	src:url("../fonts/icomoon.eot?v=4#iefix") format("eot"),url("../fonts/icomoon.svg#icon?v=4") format("svg"),url("../fonts/icomoon.woff?v=4") format("woff"),url("../fonts/icomoon.ttf?v=4") format("truetype")
}

.fi{
	font-family:'icon';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	position:relative;
	top:1px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.fi-help{
	-ie7-icon:e616
}

.fi-help:before{
	content:"\e616"
}

.fi-home{
	-ie7-icon:e900
}

.fi-home:before{
	content:"\e900"
}

.fi-new-student{
	-ie7-icon:e604
}

.fi-new-student:before{
	content:"\e604"
}

.fi-bank-card{
	-ie7-icon:e60b
}

.fi-bank-card:before{
	content:"\e60b"
}

.fi-heart-jifen{
	-ie7-icon:e60f
}

.fi-heart-jifen:before{
	content:"\e60f"
}

.fi-circle-lock{
	-ie7-icon:e610
}

.fi-circle-lock:before{
	content:"\e610"
}

.fi-circle-safety{
	-ie7-icon:e611
}

.fi-circle-safety:before{
	content:"\e611"
}

.fi-circle-user{
	-ie7-icon:e613
}

.fi-circle-user:before{
	content:"\e613"
}

.fi-tabdict{
	-ie7-icon:e614
}

.fi-tabdict:before{
	content:"\e614"
}

.fi-new-guide{
	-ie7-icon:f00f6
}

.fi-new-guide:before{
	content:"\f00f6"
}

.fi-wechat{
	-ie7-icon:e7f0
}

.fi-wechat:before{
	content:"\e7f0"
}

.fi-forum{
	-ie7-icon:e7a5
}

.fi-forum:before{
	content:"\e7a5"
}

.fi-money-edit{
	-ie7-icon:e6aa
}

.fi-money-edit:before{
	content:"\e6aa"
}

.fi-qq{
	-ie7-icon:e636
}

.fi-qq:before{
	content:"\e636"
}

.fi-dollar-list{
	-ie7-icon:e62d
}

.fi-dollar-list:before{
	content:"\e62d"
}

.fi-search{
	-ie7-icon:e61d
}

.fi-search:before{
	content:"\e61d"
}

.fi-add-user{
	-ie7-icon:e60e
}

.fi-add-user:before{
	content:"\e60e"
}

.fi-profile{
	-ie7-icon:e615
}

.fi-profile:before{
	content:"\e615"
}

.fi-give-rmb{
	-ie7-icon:e607
}

.fi-give-rmb:before{
	content:"\e607"
}

.fi-calculator{
	-ie7-icon:e639
}

.fi-calculator:before{
	content:"\e639"
}

.fi-phone{
	-ie7-icon:e612
}

.fi-phone:before{
	content:"\e612"
}

.fi-verify{
	-ie7-icon:e63e
}

.fi-verify:before{
	content:"\e63e"
}

.fi-star{
	-ie7-icon:e660
}

.fi-star:before{
	content:"\e660"
}

.fi-invest{
	-ie7-icon:e65e
}

.fi-invest:before{
	content:"\e65e"
}

.fi-charge{
	-ie7-icon:e63f
}

.fi-charge:before{
	content:"\e63f"
}

.fi-magic{
	-ie7-icon:3438
}

.fi-magic:before{
	content:"\3438"
}

.fi-v-shipin{
	-ie7-icon:e60a
}

.fi-v-shipin:before{
	content:"\e60a"
}

.fi-vip{
	-ie7-icon:e609
}

.fi-vip:before{
	content:"\e609"
}

.fi-v-shiming{
	-ie7-icon:e608
}

.fi-v-shiming:before{
	content:"\e608"
}

.fi-email{
	-ie7-icon:e617
}

.fi-email:before{
	content:"\e617"
}

.fi-v-shiming2{
	-ie7-icon:e618
}

.fi-v-shiming2:before{
	content:"\e618"
}

.fi-mobile{
	-ie7-icon:e647
}

.fi-mobile:before{
	content:"\e647"
}

.fi-huojian{
	-ie7-icon:3436
}

.fi-huojian:before{
	content:"\3436"
}

.fi-qianbao{
	-ie7-icon:e606
}

.fi-qianbao:before{
	content:"\e606"
}

.fi-shouyilv{
	-ie7-icon:e623
}

.fi-shouyilv:before{
	content:"\e623"
}

.fi-success{
	-ie7-icon:e625
}

.fi-success:before{
	content:"\e625"
}

.fi-error{
	-ie7-icon:e626
}

.fi-error:before{
	content:"\e626"
}

.fi-san{
	-ie7-icon:e627
}

.fi-san:before{
	content:"\e627"
}

.fi-bao{
	-ie7-icon:e628
}

.fi-bao:before{
	content:"\e628"
}

.fi-chart-line{
	-ie7-icon:e634
}

.fi-chart-line:before{
	content:"\e634"
}

.fi-beiyongjin{
	-ie7-icon:e679
}

.fi-beiyongjin:before{
	content:"\e679"
}

.fi-info{
	-ie7-icon:ea0c
}

.fi-info:before{
	content:"\ea0c"
}

.fi-checkmark{
	-ie7-icon:ea10
}

.fi-checkmark:before{
	content:"\ea10"
}

.fi-chevron-small-down{
	-ie7-icon:e60c
}

.fi-chevron-small-down:before{
	content:"\e60c"
}

.fi-chevron-small-up{
	-ie7-icon:e60d
}

.fi-chevron-small-up:before{
	content:"\e60d"
}

.fi-chevron-thin-left{
	-ie7-icon:e600
}

.fi-chevron-thin-left:before{
	content:"\e600"
}

.fi-chevron-thin-right{
	-ie7-icon:e601
}

.fi-chevron-thin-right:before{
	content:"\e601"
}

.fi-chevron-with-circle-up{
	-ie7-icon:e602
}

.fi-chevron-with-circle-up:before{
	content:"\e602"
}

.fi-magnifying-glass{
	-ie7-icon:e605
}

.fi-magnifying-glass:before{
	content:"\e605"
}

.fi-old-phone{
	-ie7-icon:e603
}

.fi-old-phone:before{
	content:"\e603"
}

.fi-user{
	-ie7-icon:url(/Static/images/login-label-username.png)
}

.fi-user:before{
	content:url(/Static/images/login-label-username.png)

}

.fi-lock{
	-ie7-icon:f023
}

.fi-lock:before{
	content:"\f023"
}

.fi-qrcode{
	-ie7-icon:f029
}

.fi-qrcode:before{
	content:"\f029"
}

.fi-asterisk{
	-ie7-icon:f069
}

.fi-asterisk:before{
	content:"\f069"
}

.fi-key{
	-ie7-icon:url(/Static/images/login-label-password.png)
}

.fi-key:before{
	content:url(/Static/images/login-label-password.png)
}

.fi-envelope{
	-ie7-icon:f0e0
}

.fi-envelope:before{
	content:"\f0e0"
}

.fi-smile-o{
	-ie7-icon:f118
}

.fi-smile-o:before{
	content:"\f118"
}

.fi-puzzle-piece{
	-ie7-icon:url(/Static/images/login-label-puzzle.png)
}

.fi-puzzle-piece:before{
	content:url(/Static/images/login-label-puzzle.png)
}

.fi-long-arrow-down{
	-ie7-icon:f175
}

.fi-long-arrow-down:before{
	content:"\f175"
}

.fi-long-arrow-up{
	-ie7-icon:f176
}

.fi-long-arrow-up:before{
	content:"\f176"
}

.fi-child{
	-ie7-icon:f1ae
}

.fi-child:before{
	content:"\f1ae"
}

.fi-paper-plane{
	-ie7-icon:f1d8
}

.fi-paper-plane:before{
	content:"\f1d8"
}

body{
	-webkit-tap-highlight-color:transparent
}

a,input,textarea,.confirming{
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}

em,i{
	font-style:normal
}

em{
	color:#D62C2C
}

img{
	max-width:100%
}

.cl{
	clear:both
}

h1,h2{
	position:relative
}

h1 small,h2 small{
	color:#999;
	font-size:12px
}

h1 strong,h2 strong{
	font-size:12px
}

h1 span,h2 span{
	position:absolute;
	right:0;
	top:0;
	font-size:12px
}

h1 span a,h2 span a{
	margin-left:10px
}

h1 span{
	top:8px
}

h3 small{
	color:#999;
	font-size:12px
}

a:hover em{
	text-decoration:underline
}

.hide{
	display:none
}

input,select,textarea{
	border:1px solid #DDD
}

input{
	padding:6px 5px;
	box-sizing:border-box;
	width:230px;
	line-height:1.5
}

input:focus{
	border-color:#555;
	outline:none
}

input.btn{
	width:auto;
	border:none;
	background:#F9CB5D;
	color:#fff
}

input.btn:hover{
	background:#F88D16
}

input.long{
	width:280px
}

input.longer{
	width:320px
}

input.longest{
	width:450px
}

input.short{
	width:180px
}

input.shorter{
	width:100px
}

input.shortest{
	width:65px
}

input.compact{
	padding:4px 5px;
	font-size:12px
}

input[type="text"],input[type="email"],input[type="date"],input[type="password"],input[type="number"]{
	-webkit-appearance:none
}

input[type="date"]{
	padding:4px 5px
}

input[type="checkbox"],input[type="radio"]{
	width:auto;
	border:none
}

input[disabled]{
	background:#EEE;
	color:#999
}

input[disabled]:hover{
	background:#EEE
}

input.btn,a.btn,span.btn{
	padding:5px 20px;
	line-height:1.5
}

a.btn,span.btn{
	padding-top:7px;
	padding-bottom:6px
}

a.btn{
	background:#D62C2C;
	color:#fff
}

a.btn:hover{
	background:#FF656A
}

a.disabled,span.btn{
	background:#EEE;
	color:#999;
	text-shadow:1px 1px 1px #fff
}

a.btnMini{
	font-size:12px;
	padding:3px 10px
}

a.btnGray{
	background:#555
}

a.btnBlue{
	background:#00A1CC
}

a.disabled{
	cursor:default
}

a.disabled:hover{
	background:#EEE
}

i.I{
	margin:0 8px
}

select{
	padding:4px;
	background:#fff
}

select:focus{
	border-color:#555;
	outline:none
}

select[disabled]{
	background:#EEE
}

textarea{
	padding:5px;
	height:60px;
	line-height:1.8
}

textarea:focus{
	border-color:#555;
	outline:none
}

.headerNotice{
	background:#FAFAE8;
	color:#FF4B00;
	padding:8px 25px;
	text-align:center
}

.numberBox a{
	vertical-align:top;
	padding:3px 6px;
	background:#00A1CC;
	color:#fff
}

.numberBox a:hover{
	background:#8FC1DB
}

.numberBox input{
	margin:0 3px
}

.numberBox .minus{
	float:left
}

div.loading{
	display:block;
	width:30px;
	height:30px;
	margin:15px auto;
	background:url(../images/loading.gif) no-repeat
}

.loadingBox{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.6)
}

.loadingBox img{
	position:absolute;
	top:50%;
	left:50%;
	margin:-15px 0 0 -15px
}

.itemNew{
	background:#FFFCF5
}

.confirming{
	background:#FFF5D6
}

.compact input,.compact select,.compact textarea{
	font-size:12px
}

.compact input{
	padding:4px 5px
}

.compact input.btn{
	padding:3px 3px;
	font-size:14px
}

.compact input[type="file"]{
	padding:1px
}

.compact select{
	padding:3px
}

.compact .fieldNote .btn{
	padding:3px 3px
}

.compact .code img{
	height:24px
}

.compact .btnLine{
	padding-top:5px
}

.fields{
	margin-bottom:15px;
	margin-top:20px;
	padding-top:15px;
	border-top:1px dashed #DDD
}

.field{
	margin-bottom:10px
}

.field label{
	min-width:70px;
	text-align:right;
	margin-right:5px
}

.field label.checkbox{
	text-align:left;
	margin-right:20px;
	min-width:0 !important;
	cursor:pointer
}

.field label.checkbox span{
	margin-left:5px
}

.field label.checkbox input{
	width:auto;
	position:relative;
	top:5px
}




.field label.checkbox a{
	text-decoration:underline
}

.field label.checkbox a:hover{
	text-decoration:none;
	color:#FF656A
}

.field label.checkbox+.popNote{
	margin-left:-15px
}

.field label a.labelLink{
	font-size:12px;
	margin-left:10px
}

.field .r{
	margin-right:3px;
	color:#FF656A;
	position:relative;
	top:2px
}

form.iconLabelForm .field{
	position:relative
}

form.iconLabelForm label.fi{
	position:absolute;
	min-width:0;
	width:30px;
	height:31px;
	left:1px;
	top:1px;
	z-index:2;
	border:1px solid #F5F5F5;
	border-right:none;
	border-radius:3px 0 0 3px;
	background:#F5F5F5;
	margin:0;
	text-align:center;
	line-height:31px
}

form.iconLabelForm input{
	padding:6px 10px 6px 42px;
	border-radius:3px;
	width:300px;
	height:35px
}

form.iconLabelForm input.btn{
	margin-bottom:10px;
	font-size:16px
}

form.iconLabelForm label.checkbox input,form.iconLabelForm .btnLine input{
	padding-left:0;
	height:auto
}

form.iconLabelForm label.checkbox input{
	width:auto
}

form.iconLabelForm .verifyField input{
	width:145px
}

.strengField{
	padding-bottom:20px;
	position:relative
}

.strengField .strength{
	position:absolute;
	bottom:8px;
	left:80px;
	height:10px;
	font-size:12px
}

.strengField .strength .rate{
	width:220px;
	background:#F5F5F5;
	box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1)
}

.strengField .strength .rate i{
	width:0;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
	box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1)
}

.strengField .strength em{
	color:#999
}

.strengField .very_weak em{
	color:#D62C2C
}

.strengField .very_weak .rate i{
	width:20%;
	background:#D62C2C
}

.strengField .weak em{
	color:#ffc40d
}

.strengField .weak .rate i{
	width:50%;
	background:#ffc40d
}

.strengField .medium em{
	color:#6FCB86
}

.strengField .medium .rate i{
	width:80%;
	background:#95D3A5
}

.strengField .strong em{
	color:#3AA354
}

.strengField .strong .rate i{
	width:100%;
	background:#6FCB86
}

.label5em .strengField .strength{
	left:95px
}

.lineUp{
	position:relative;
	top:-38px
}

.lineDown{
	position:relative;
	top:38px
}

.emField label{
	font-weight:bold
}

.isMonth .d{
	display:none
}

.isDay .d{
	display:inline
}

.isDay .m{
	display:none
}

.btnLine{
	padding:10px 0 15px;
	margin-bottom:0
}

.fieldNote{
	color:#999
}

span.fieldNote{
	margin-left:10px
}

p.fieldNote{
	margin-left:0
}

.popNote{
	vertical-align:top;
	position:relative;
	font-size:12px
}

.popNote span{
	display:none;
	position:absolute;
	top:0;
	left:8px;
	width:300px;
	color:#555;
	background:#fff;
	padding:6px 8px;
	border:1px solid #00A1CC
}

.popNote .arrow{
	position:absolute;
	top:5px;
	left:-7px;
	border:5px solid #fff;
	border-left-width:1px;
	border-right:5px solid #00A1CC
}

.subFields,.fieldWarning{
	padding-left:78px
}

.fieldWarning{
	font-size:12px
}

.fieldWarning p{
	margin-top:0.5em
}

.fieldTip{
	margin-left:5px;
	color:#000;
	font-size:12px
}

.subFields{
	padding-top:5px
}

.floatLabel{
	display:block;
	float:left
}

.floatLabel+.subFields{
	padding-top:0
}

.label5em .field label{
	min-width:85px
}

.label5em .subFields,.label5em .fieldWarning{
	padding-left:93px
}

.label8em .field label{
	min-width:120px
}

.label8em .subFields,.label8em .fieldWarning{
	padding-left:128px
}

.label10em .field label{
	min-width:180px
}

.label10em .subFields,.label10em .fieldWarning{
	padding-left:188px
}

.labelBlock .field label{
	display:block;
	text-align:left
}

.labelBlock .field input{
	width:100%
}

.labelBlock input.btn{
	width:100%
}

.code{
	vertical-align:top;
	font-size:12px
}

.code i{
	vertical-align:middle;
	margin-left:8px;
	line-height:1.2
}

form h1,form h2{
	margin-bottom:0.5em
}

form a{
	color:#EB9834
}

form h3{
	background:#EEE;
	padding:0 12px;
	margin:15px 0 10px
}

form .field+h3{
	margin-top:20px
}

form .fields h3{
	background:none;
	margin:0 0 5px;
	color:#D62C2C;
	padding:0
}

form .checkFields .field{
	padding-left:15px
}

form .hang{
	vertical-align:top
}

form .hang p{
	margin-bottom:5px
}

.formNote{
	margin-bottom:10px;
	font-size:12px
}

.formNote p{
	margin-bottom:0.5em
}

.formNote a{
	text-decoration:underline;
	color:#D62C2C
}

.formNote a.btn{
	color:#fff;
	text-decoration:none
}

.formNote a:hover{
	text-decoration:none
}

.emptyNote{
	margin:20px 0;
	padding:20px;
	border-radius:5px;
	background:#F5F5F5;
	font-size:14px
}

.message{
	margin:20px 0;
	padding:20px 25px 15px;
	border-radius:5px;
	background:#F5F5F5
}

.message h2{
	margin-bottom:0.2em
}

.message p{
	margin-bottom:0.5em
}

.msgSuccess{
	color:#3AA354
}

.msgWarning{
	color:#D62C2C
}

.span-2{
	margin-left:-10px;
	margin-right:-10px
}

.span-2 span{
	float:left;
	width:50%
}

.span-2 a.btn{
	display:block;
	text-align:center;
	margin:0 10px
}

.span-input span{
	display:block
}

.span-input .code{
	width:135px;
	float:right
}

.span-input .input{
	margin-right:145px
}

.advBox a,.advBox img{
	display:block
}

.block{
	margin-bottom:20px;
	background:#fff
}

.fullBlock{
	padding:25px 0
}

.fullWhite{
	padding:25px 0;
	background:#fff
}

.tableNote{
	margin:12px 0 10px;
	font-size:12px
}

.tableNote h2{
	font-size:16px
}

td,th{
	padding:6px 10px 5px;
	border-bottom:1px solid #EEE;
	text-align:left
}

td input[type="checkbox"],th input[type="checkbox"]{
	margin-right:5px;
	position:relative;
	top:2px
}

th{
	background:#EEE
}

.even td{
	background:#F5F5F5
}

.loose td,.loose th{
	padding:12px 10px
}

table{
	width:100%
}

.align-r{
	text-align:right
}

.align-l{
	text-align:left
}

.align-c{
	text-align:center
}

.imgMiddle{
	text-align:center
}

.imgMiddle i,.imgMiddle img{
	vertical-align:middle
}

.imgMiddle i{
	height:80px;
	width:0
}

.imgMiddle img{
	max-width:100%;
	max-height:100%;
	width:auto
}

.pageNote{
	font-size:12px;
	margin:10px 0 15px
}

.pageNote a{
	text-decoration:underline
}

.pageNote a.btn{
	text-decoration:none
}

.pageNote p{
	margin-bottom:0.5em
}

.pageNote ul,.pageNote ol{
	margin-bottom:0.8em
}

.pageNote ol{
	list-style:decimal;
	margin-left:2em
}

.pageNote li{
	margin-bottom:0.4em
}

.looseNote p{
	margin-bottom:1em
}

.slider{
	position:relative;
	z-index:0
}

.slider ul{
	height:400px;
	position:relative
}

.slider li{
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:100%;
	overflow:hidden;
	background:#fff
}

.slider li.first{
	display:block
}

.slider li img{
	display:block;
	margin:0 auto
}

.slider .slider_nav a,.slider .iScrollLoneScrollbar i{
	margin-left:10px;
	padding:0 6px 1px;
	font-size:12px;
	background:#EB9834;
	color:#fff
}

.slider .slider_nav span,.slider .iScrollLoneScrollbar{
	position:absolute;
	bottom:8px;
	left:10px;
	z-index:4
}

.slider .slider_nav a:hover{
	color:#FFF
}

.slider .slider_nav a.on{
	background:#FFF;
	color:#EB9834
}

.slider .slider_nav i.prev,.slider .slider_nav i.next{
	position:absolute;
	top:50%;
	z-index:21;
	cursor:pointer
}

.slider .slider_nav i.prev{
	left:0
}

.slider .slider_nav i.next{
	right:0
}

.islider_box{
	position:relative;
	margin:0 auto;
	overflow:hidden
}

.islider_box .slides{
	position:absolute;
	z-index:1;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.islider_box .slide{
	display:block;
	position:relative;
	top:0;
	left:0;
	float:left
}

.islider_box .slider_nav i{
	width:9px;
	height:9px;
	border-radius:100%
}

.islider_box .slider_nav .nav_dots{
	margin-left:-10px;
	font-size:0
}

.islider_box .slider_nav .nav_dots i{
	border-radius:100%
}

.islider_box .slider_nav .active_dot{
	position:absolute;
	background:#FF656A;
	margin-left:0
}



.innerBox{
	width:1180px;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px;
	padding-right:20px
}

html,body{
	height:100%
}

#page{
	min-height:100%;
	min-width:1000px;
	margin-bottom:-190px
}

#footer,.push{
	height:190px
}

.showOnLogin{
	display:none
}

.logined .hideOnLogin{
	display:none
}

.logined .showOnLogin{
	display:block
}

body{
	background:#fff;
	color:#555;
}

.main{
	padding-bottom:30px
}

.main .content{
	padding:10px 20px;
	background:#fff
}

.hotLine small{
	font-size:12px
}

.hotLine strong{
	font-size:18px;
	font-weight:normal;
	line-height:1.2
}

.qrcode{
	position:relative;
	z-index:11
}

.qrcode .arrow{
	position:absolute;
	left:50%;
	top:-6px;
	margin-left:-5px;
	width:0;
	height:0;
	border:6px solid transparent;
	border-bottom-color:#fff;
	border-top-width:1px
}

.qrcode span{
	display:none;
	position:absolute;
	top:28px;
	left:-48px;
	width:121px;
	height:121px;
	padding:2px;
	background:#fff;
	border-radius:5px;
	box-shadow:1px 1px 2px #DDD
}

.qrcode:hover span{
	display:block
}

.topbar{
	background:#555;
	color:#fff
}

.topbar a{
	color:#DDD
}

.topbar a.loginLink{
	color:#ffc40d
}

.topbar a.signupLink{
	color:#6FCB86
}

.topbar a:hover{
	color:#fff
}

.topbar a:hover strong{
	color:#fff
}

.topbar .welcome{
	float:right;
	padding:12px 0 6px
}

.topbar .welcome strong{
	margin-right:5px;
	color:#F6D151
}

.topbar .welcome a.avatar{
	display:none
}

.topbar .mobileMenuGet{
	display:none
}

.topbar aside{
	float:left;
	padding:8px 0 0
}

.topbar aside a{
	margin-right:15px
}

.topbar aside a.qrcode .fi{
	top:-1px;
	margin-left:5px;
	font-size:22px;
	vertical-align:middle
}

.topbar aside a.qrcode:hover .fi{
	color:#34BC55
}

.topbar aside a.qrcode span{
	left:10px
}

.metas{
	margin-right:-10px
}

.metas span{
	vertical-align:top;
	margin-right:10px;
	padding-bottom:0.5em
}

.metas span.full{
	display:block;
	margin-right:0
}

.popBox{
	position:relative
}

.popBox dt a{
	display:block
}

.popBox dd{
	display:none;
	position:absolute;
	bottom:21px;
	left:0;
	box-shadow:-1px -1px 3px #DDD;
	background:#fff;
	color:#333;
	border:1px solid #00A1CC;
	padding:10px 15px
}

.popBox dd a{
	color:#00A1CC
}

.popBox dd a:hover{
	color:#D62C2C
}

.popBox dd a.closeBtn{
	color:#fff
}

.popBox dd h3{
	margin-bottom:5px
}

.popBox dd .arrow{
	position:absolute;
	bottom:-6px;
	right:30px;
	width:11px;
	height:6px;
	background:url(../images/arrow-white-l.png) no-repeat
}

.popBoxOn dt a{
	background:#00A1CC;
	color:#fff;
	padding:0 5px
}

.popBoxOn dd{
	display:block
}

}
#header-logo {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px;
	padding-right:20px;
	position:relative
}

.siteHeader{
	border-bottom:1px solid #E5E5E5;
	margin-bottom:20px;
}

.siteHeader .siteTitle{
	width:205px;
	float:left;
	padding:15px 0
}

.siteTitle a{
	display:block;
	height:64px;
	position:relative
}

.siteHeader .siteTitle a.logoAsBg{
	overflow:hidden
}

.siteHeader .siteTitle a img{
	height:64px
}

.siteHeader .siteTitle a .back{
	position:relative;;
	top:-15px;
	right:-12px;
	width:50px;
	height:24px;
	background:url(../images/logo-note.png) no-repeat
}

.siteHeader .siteTitle small{
	display:none
}

.siteHeader .pageName{
	font-size:30px;
	margin-top:40px;
	margin-left:240px;
	line-height:1.2;
	padding-left:25px;
	border-left:3px solid #fff
}

.siteHeader nav{
	margin-left:220px;
	padding-top:46px
}

.mainNav{
	text-align:right;
	font-size:16px
}

.mainNav a{
	display:block;
	border-bottom:2px solid #EEE
}

.mainNav a.parentLink{
	padding:8px 2px 15px
}

.mainNav li{
	margin-left:25px
}

.mainNav li.homeItem{
	margin-left:0
}

.mainNav li.homeItem ul{
	width:100%;
	left:0
}

.mainNav li.current a,.mainNav a:hover{
	color:#D62C2C
}

.mainNav li.current a{
	border-bottom-color:#D62C2C
}

.stage #mainNav li a{
	display:block
}

.stage #mainNav li a.parentLink{
	padding:10px 15px
}

.stage #mainNav li ul{
	display:none;
	padding-bottom:5px
}

.stage #mainNav li ul a{
	font-size:12px;
	padding:8px 15px 8px 30px
}

.stage #mainNav li.on{
	background:#FCF8E3
}

.stage #mainNav li.on a.parentLink{
	background:#F6D151
}

.stage #mainNav li.current a.parentLink{
	background:#D62C2C;
	color:#fff
}

.stage #mainNav li.parentItem{
	border-bottom:1px solid #EEE
}

.subNav{
	background:#fff;
	margin:-20px 0 20px
}

.subNav a{
	position:relative;
	padding:14px 5px 12px;
	margin-right:15px;
	font-size:16px;
	border-bottom:2px solid #fff
}

.subNav a.current{
	color:#D62C2C;
	border-color:#D62C2C
}

.subHeader{
	margin:-20px 0 20px;
	background:#8FC1DB
}

.cmsTitle{
	float:left;
	width:200px;
	padding:10px 0;
	text-align:center;
	color:#fff;
	line-height:1.5;
	font-size:30px;
	font-family:Arial,YouYuan,"Microsoft Yahei"
}

.cmsTitle small{
	display:block;
	color:#fff;
	font-weight:normal;
	font-family:cai, Arial;
	font-size:18px;
	text-transform:uppercase
}

.subHeader .cmsDescription{
	margin:0 400px 0 205px;
	background:url(../images/lace-shade.png) repeat-y
}

.subHeader aside{
	float:right
}

.moudleNav{
	margin:0 0 0 230px;
	padding-left:20px;
	background:url(../images/lace-shade.png) repeat-y
}

.moudleNav a{
	display:block;
	padding:36px 20px;
	color:#fff
}

.moudleNav a:hover{
	color:#F6D151
}

.moudleNav li{
	float:left
}

.moudleNav li.current a{
	background:url(../images/arrow-simNav.png) no-repeat 50% 100%
}

.companyName{
	height:58px;
	margin:20px auto 10px;
	padding:10px 0;
	background:url(../images/logo-company.png?t=150202) no-repeat 50%;
	text-indent:-999em;
	overflow:hidden
}

#footer{
	min-width:1000px;
	/*background:#EEE url(../images/bg-footer.png) no-repeat 50% 0;*/
	background:#fff;
	color:#555
}

#footer a{
	color:#555
}

#footer a:hover{
	color:#D62C2C
}

#footer nav{
	position:relative;
	padding-right:350px;
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom:1px solid #FFF
}

#footer nav .hotLine{
	position:absolute;
	bottom:15px;
	right:0;
	width:170px;
	text-align:right
}

#footer nav .hotLine strong{
	display:block;
	font-size:24px
}

#footer .links{
	margin-top:-5px
}

#footer .links a,#footer .links strong{
	width:115px;
	padding:5px 0;
	vertical-align:middle
}

#footer .links .fi{
	font-size:32px
}

#footer .links strong{
	font-weight:normal
}

#footer .links a.qrcode,#footer .links a.qqOnline{
	padding:0;
	text-shadow:1px 1px 1px #fff
}

#footer .links a.qrcode{
	color:#34BC55
}

#footer .links a.qrcode:hover{
	color:#6FD689
}

#footer .links a.qqOnline{
	color:#00A1CC
}

#footer .links a.qqOnline:hover{
	color:#5FC6E3
}

#footer .friendLinks{
	position:relative
}

#footer .friendLinks dt{
	padding:2px 10px
}

#footer .friendLinks dd{
	display:none;
	width:500px;
	position:absolute;
	bottom:20px;
	right:0;
	border:5px solid #DDD;
	padding:10px 10px 8px;
	background:#fff
}

#footer .friendLinks dd a{
	padding:0 5px
}

#footer .friendLinks.on dt{
	background:#EB9834;
	color:#fff
}

#footer .friendLinks.on dd{
	display:block;
	border-color:#EB9834
}

#footer .qrcode span{
	top:auto;
	bottom:38px
}

#footer .qrcode .arrow{
	top:auto;
	bottom:-6px;
	border:6px solid transparent;
	border-top-color:#fff;
	border-bottom-width:1px
}

#footer .siteInfos{
	padding-top:20px
}

#footer .infos,#footer aside{
	font-size:12px
}

#footer .infos{
	float:left;
	width:400px;
	padding-left:160px;
	background:url(../images/logo.png) no-repeat -75px 50%
}

#footer .infos p{
	padding:2px 0 3px
}

#footer aside{
	float:right;
	text-align:right;
	padding-top:10px
}

#footer aside .validLinks{
	margin-bottom:8px
}

#footer aside .validLinks a{
	vertical-align:top;
	width:80px;
	height:30px;
	margin-left:5px;
	text-align:left;
	background:url(../images/icons-valid-mini.png?v=1) no-repeat -86px 0;
	text-indent:-999em;
	overflow:hidden
}

#footer aside .validLinks a.szfw{
	background-position:-86px -31px
}

#footer aside .validLinks a.knet{
	background-position:-86px -62px
}

.pageNavi{
	padding-top:15px;
	font-size:12px
}

.pageNavi span{
	float:left;
	padding:0 18px;
	line-height:24px;
	background:#DDD;
	border-radius:12px
}

.pageNavi p{
	margin-left:120px;
	text-align:right;
	font-size:0
}

.pageNavi p i,.pageNavi p a,.pageNavi p strong,.pageNavi p small{
	padding:3px 8px;
	color:#fff;
	font-size:12px;
	margin-left:5px
}

.pageNavi p i{
	background:#DDD
}

.pageNavi p a{
	background:#D62C2C;
	margin-bottom:3px
}

.pageNavi p a:hover{
	background:#F6D151
}

.pageNavi p strong{
	background:#F6D151;
	color:#000;
	font-weight:normal
}

.pageNavi p small{
	color:#555;
	padding:3px 4px
}

.rate{
	width:100px;
	height:10px;
	margin-right:5px;
	overflow:hidden;
	border-radius:5px;
	background:#DDD
}

.rate i{
	display:block;
	height:10px;
	background:#EB9834
}

.financingNav a{
	padding:15px 30px
}

.financingNav span{
	display:block;
	width:32px;
	height:32px;
	border:5px solid rgba(255,255,255,0.5);
	text-align:center;
	line-height:32px;
	border-radius:100%;
	margin:0 auto 5px;
	color:#fff;
	overflow:hidden;
	font-size:16px;
	font-family:Arial,YouYuan,"Microsoft Yahei"
}

.financingNav span i{
	display:block
}

.financingNav .xin span i{
	background:#D62C2C
}

.financingNav .ya span i{
	background:#00A1CC
}

.financingNav .miao span i{
	background:#3AA354
}

.financingNav .eg span i{
	background:#EB9834
}

.financingNav .liu span i{
	background:#0077E5
}

.financingNav .jing span i{
	background:#FF656A
}

.financingTypes{
	text-align:center;
	padding-bottom:25px
}

.financingTypes li{
	width:16%;
	font-size:20px
}

.financingTypes li span{
	width:68px;
	height:68px;
	line-height:68px;
	font-size:36px;
	border:8px solid #F5F5F5
}

.financingTypes li small{
	display:block;
	font-size:12px
}

.icon_biao{
	vertical-align:middle;
	font-size:20px;
	text-align:center;
	margin-right:15px;
	border-radius:100%;
	width:40px;
	height:40px;
	line-height:40px;
	color:#fff
}

.icon_xin{
	background:#D62C2C
}

.icon_ya{
	background:#00A1CC
}

.icon_miao{
	background:#3AA354
}

.icon_liu{
	background:#EB9834
}

.icon_jing{
	background:#FF656A
}

.entry{
	font-size:14px;
	line-height:2
}

.entry i{
	font-style:italic
}

.entry div{
	margin-bottom:0.6em
}

.entry .mceChartArea{
	line-height:1.5
}

.entry .mceChartArea div{
	margin:1px 0 0
}

.entry .mceChartArea tspan{
	font-family:Arial, 'Microsoft Yahei'
}

.entry p{
	text-indent:2em;
	margin-bottom:0.6em
}

.entry p:last-child{
	margin-bottom:0
}

.entry a{
	color:#00A1CC;
	text-decoration:underline
}

.entry a:hover{
	text-decoration:none
}

.entry a.btn{
	color:#fff;
	text-decoration:none
}

.entry a.btn:hover{
	background:#FF656A
}

.entry table{
	width:100%
}

.entry h1,.entry h2,.entry h3,.entry h4,.entry h5{
	margin:1em 0 0.5em;
	font-weight:bold
}

.entry h1:first-child,.entry h2:first-child,.entry h3:first-child,.entry h4:first-child,.entry h5:first-child{
	margin-top:0
}

.entry h1 span,.entry h2 span{
	position:static;
	font-size:inherit
}

.entry h1{
	font-size:35px
}

.entry h2{
	font-size:20px
}

.entry h3{
	font-size:16px
}

.entry h4{
	font-size:14px
}

.entry ul,.entry ol{
	margin-bottom:1em;
	margin-left:0;
	padding-left:2em;
	padding-left:22px
}

.entry ul:last-child,.entry ol:last-child{
	margin-bottom:0
}

.entry ol{
	list-style:decimal
}

.entry ul{
	list-style:disc
}

.entry li{
	margin-bottom:0.4em;
	line-height:1.8
}

.entry li:last-child{
	margin-bottom:0
}

.entry img{
	max-width:100%
}

.entry .noteBox{
	border:1px solid #FFF7DB;
	background:#FFFFF5;
	border-radius:5px;
	padding:8px 15px;
	margin-bottom:12px
}

.entry .noteSuccess{
	border-color:#C1EDCB;
	background:#EAF5ED
}

.entry .noteFailed{
	border-color:#EDD3BF;
	background:#FFF7F2
}

.entry .investPreview{
	font-size:16px
}

.entry .yugaoItem{
	padding:0 20px 15px;
	margin-bottom:15px;
	background:#F8F8F8;
	font-size:14px
}

.entry .yugaoItem h3{
	margin:0 -20px 10px;
	padding:2px 20px;
	font-weight:normal;
	font-size:18px;
	background:#00A1CC;
	color:#fff
}

.entry .yugaoItem p{
	text-indent:0
}

.entry .fontSize18{
	font-size:18px
}

.entry .fontSize16{
	font-size:16px
}

.entry pre,.entry code{
	font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
	background:#EEE;
	border-radius:5px
}

.entry pre{
	padding:10px 15px;
	margin-bottom:10px
}

.entry code{
	font-size:12px;
	text-indent:0;
	line-height:1.5;
	border-radius:3px;
	padding:1px 5px;
	margin:0 3px
}

.pMessage .content{
	padding:30px 40px
}

.quickBox{
	position:fixed;
	bottom:180px;
	right:0;
	z-index:11;
	font-size:12px
}

.quickBox .icon{
	display:block;
	background:url(../images/icons-quicktools.png?v=1) no-repeat 50% 9px
}

.quickBox .qqOnline,.quickBox .qrcode,.quickBox .goTop{
	background-color:#8FC1DB;
	width:42px;
	border-radius:3px 0 0 3px
}

.quickBox .qrcode,.quickBox .goTop{
	height:42px;
	margin-top:6px
}

.quickBox .qrcode span{
	top:0;
	left:auto;
	right:55px
}

.quickBox .qrcode .arrow{
	left:auto;
	right:-6px;
	top:12px;
	margin:0;
	border:6px solid transparent;
	border-left-color:#fff;
	border-right-width:1px
}

.quickBox a{
	color:#fff
}

.quickBox a.goTop{
	background-position:50% -100px;
	text-align:center;
	padding-top:22px;
	height:23px
}

.quickBox a.goTop:hover{
	background-color:#F6D151
}

.quickBox a.qrcode{
	background-position:50% -44px
}

.quickBox a.qqOnline{
	display:block
}

.quickBox a.qqOnline .icon{
	height:36px
}

.quickBox a.qqOnline span{
	display:block;
	padding:0 10px 10px;
	font-size:14px;
	text-align:center;
	line-height:1.2
}

.quickBox a.qqOnline:hover{
	background-color:#F6D151
}

.msgValid{
	font-size:12px
}

.msgValid label{
	display:inline;
	min-width:0
}

label.error{
	color:#FF5A00
}

label.valid{
	color:#3AA354
}

span.msgValid{
	margin-left:8px
}

input.error,select.error,textarea.error{
	border-color:#FFCBAF
}

.mce-panel{
	max-width:800px
}

.main404{
	background:url(../images/bg-footer.png) no-repeat 0 140px
}

.main404 h1{
	font-size:28px
}

.main404 .pageNote{
	float:left;
	width:480px;
	padding-top:130px;
	font-size:14px
}

.main404 .pageNote .links{
	font-size:12px
}

.iam404{
	margin-left:520px;
	text-align:center;
	border-radius:100%;
	width:400px;
	height:340px;
	padding-top:60px;
	background:#EEE
}

.iam404 i{
	width:132px;
	height:128px;
	background:url(../images/logo-x2.png) no-repeat
}

.iam404 span{
	font-size:160px
}

/*.siteHeader .header{
	background:url(../images/special/m-04-logo-bg.png) no-repeat 190px 100%
}*/

.siteHeader .mainNav{
	background:url(../images/special/m-04-banner.png) no-repeat 100% 0
}

.pAccess .siteHeader .header{
	background:none
}

a.checkLink{
	padding-left:15px;
	background:url(../images/icons-check.png) no-repeat 0 3px
}

a.checking{
	background-position:0 -19px
}

a.isChecked{
	background-position:0 -41px
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2){
	.siteHeader .siteTitle a.logoAsBg{
		background-image:url(../images/logo-x2.png);
		background-size:auto 100%
	}

}

input[type="password"]:focus,
input[type="text"]:focus {
    box-shadow: 0px 1px 4px rgba(125, 125, 125, 0.35) inset, 0px 0px 7px rgba(118, 176, 222, 0.45);
    border: 1px solid #FFB904;
}


.loginForm {
    background: url("/Static/images/banner-access-login.png") no-repeat scroll 0px 0px transparent;
}

.accessForm h1{
	width:300px;
	text-align:center;
	color:#FB8C21
}

.accessForm .btnLine{
	padding-top:0
}

.accessForm .verifyField img{
	height:35px
}

.accessForm .code i{
	line-height:1.5
}

.accessForm .inviterBox .subInputs{
	width:0;
	height:0;
	margin-right:5px;
	position:relative;
	top:1px;
	border:6px solid transparent;
	border-left-color:#EB9834;
	border-right-width:1px
}

.accessForm .inviterBox .field{
	display:none;
	margin-top:5px;
	margin-bottom:0
}

.accessForm .inviterOpen .subInputs{
	border:6px solid transparent;
	border-top-color:#EB9834;
	border-bottom-width:1px;
	top:-1px
}

.accessForm .inviterOpen .field{
	display:block
}

.loginForm h2{
	margin-bottom:20px
}

.loginForm form{
	padding-top:30px;
	width:450px;
	float:right
}

.loginForm .field{
	margin-bottom:20px
}

