<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jndi="http://www.springframework.org/schema/jndi" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://www.springframework.org/schema/jndi http://www.springframework.org/schema/jndi/spring-jndi-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    <!-- quartz -->  
	<bean id="trigger" class="com.wisdoor.core.trigger.Trigger"></bean>
	<bean id="Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
      <property name="targetObject" ref="trigger"/>
      <property name="targetMethod" value="execution"/>
 	</bean>
 	<bean id="cron" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
     	<property name="jobDetail" ref="Job"/>   
    	<property name="cronExpression" value="0 * * * * ?"/>
 	</bean>
 	<bean autowire="no"  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
 		<property name="triggers"> 
     		<list>
         		<ref local="cron" />
     		</list>
     	</property>
 	</bean>
	<!-- quartz -->  
	 
	
	
	
	
	
</beans>